* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #fdf5fb;
}

.ViewText {
  text-align: center;
  margin-top: 60px;
}

.maintext {
  color: rgb(30, 28, 28);
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 38px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
  font-family: 'Inter', sans-serif;
}

.subtext {
  font-size: 18px;
  color: #6c757d;
  margin-bottom: 60px;
  line-height: 25.6px;
}

.ViewContainer {
  background-color: white;
  margin: auto;
  padding: 30px;
  width: fit-content;
  border-radius: 10px;
  box-shadow: 
    0 2px 4px rgba(0, 0, 0, 0.06),
    0 8px 16px rgba(0, 0, 0, 0.08);
  font-family: 'Inter', sans-serif;
}

.viewinput {
  padding: 12px;
  width: 36vw;
  border: 1px solid #ccc;
  outline: none;
  font-size: 15px;
  letter-spacing: 0.5px;
  border-radius: 8px;
}

.ViewBtn {
  margin-left: 10px;
  padding: 12px;
  font-size: 15px;
  border-radius: 8px;
  border: none;
  background-color: #9333EA;
  color: white;
  box-shadow: 
    0 10px 15px rgba(0, 0, 0, 0.1),
    0 4px 6px rgba(0, 0, 0, 0.05);
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.ViewBtn:hover {
  background-color: #7E22CE;
}

.ViewBtn:active {
  transform: scale(0.98);
}

.fi-rr-search {
  vertical-align: middle;
  margin-right: 8px;
}
